body{


  background: #22bc44;
  background-color: -webkit-linear-gradient(-135deg, #22dc44, #22aa44);
  background: -o-linear-gradient(-135deg, #22dc44, #22aa44);
  background: -moz-linear-gradient(-135deg, #22dc44, #22aa44);
  background: linear-gradient(-135deg, #22dc44, #22aa44);

}

#logo {

}

#logo2 img {
  width: 50%;
  padding: 6em;
}

#clock {
  margin: 0;
  padding-left: -5em;
  padding-top: 1.1em;
  font-family: 'Space Mono', monospace;
  font-size: 24px;
}

#clockDayview {
  margin: 0;
  padding-left: -5em;
  padding-top: 1.1em;
  font-family: 'Space Mono', monospace;
  font-size: 24px;
}

#clockLanding {
  margin: 0;
  margin-left: -4em;
  margin-top: 1.7em;
  font-family: 'Space Mono', monospace;
  font-size: 64px;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
  li {
    display: inline-block;
    margin: 0 20px;
  }

  /* Base Button Style */
  .btn {
    position: relative;
    display: block;
    width: 120px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 2%;

    background-color: #ffff77;
    border: 1px solid #0000cc;

    font-family: 'Asul', sans-serif;
    font-size: 24px;
    color: #000;
    text-align: center;
    text-decoration: none;

    transform-style: flat;
    transition: all 250ms ease-out;

    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -5;
      	transition: all 250ms ease-out;
    }
  }

  a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
}

a.btn {
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.btn:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

#dateStrip {
  background-image: url(../img/background-2044512_1920.jpg);
  background-repeat: no-repeat;
  padding-left: 2em;
  background-color: #ccddee;
  height: 5em;
  margin-bottom: 0.3em;
}

#dateStrip p {
  font-family: 'Alike Angular', serif;
  font-weight: 200;
  font-size: 18px;
}

#weekStrip {
  width: 100%;
  background-image: url(../img/background-2044512_1920.jpg);
  background-repeat: no-repeat;
  padding-left: 0;
  background-color: #ccddee;
  height: 5.5em;
  margin-bottom: 0em;
}

#weekCol {
  width: 12%;
  height: auto;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#weekCol h1 {
  font-size: 30px;
  margin-top: 0.8em;
}

#mondayCol {
  width: 14.2%;
  height: auto;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#mondayColMonth {
  width: 12%;
  height: auto;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#mondayCol :hover {
  cursor: pointer;
}


#mondayCol h1 {
  font-size: 36px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#mondayColMonth h1 {
  font-size: 30px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  margin-top: 0.8em;
}

#mondayCol p {
  font-size: 18px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#tuesdayCol {
  width: 14.2%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#tuesdayColMonth {
  width: 12%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#tuesdayCol :hover {
  cursor: pointer;
}

#tuesdayCol h1 {
  font-size: 36px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#tuesdayColMonth h1 {
  font-size: 30px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  margin-top: 0.8em;
}

#tuesdayCol p {
  font-size: 18px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#wednesdayCol {
  width: 14.2%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#wednesdayColMonth {
  width: 12%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#wednesdayCol :hover {
  cursor: pointer;
}

#wednesdayCol h1 {
  font-size: 36px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#wednesdayColMonth h1 {
  font-size: 30px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  margin-top: 0.8em;
}

#wednesdayCol p {
  font-size: 18px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#thursdayCol {
  width: 14.2%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#thursdayColMonth {
  width: 12%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#thursdayCol :hover {
  cursor: pointer;
}

#thursdayCol h1 {
  font-size: 36px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#thursdayColMonth h1 {
  font-size: 30px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  margin-top: 0.8em;
}

#thursdayCol p {
  font-size: 18px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}


#fridayCol {
  width: 14.2%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#fridayColMonth {
  width: 12%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#fridayCol :hover {
  cursor: pointer;
}

#fridayCol h1 {
  font-size: 36px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#fridayColMonth h1 {
  font-size: 30px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  margin-top: 0.8em;
}

#fridayCol p {
  font-size: 18px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#saturdayCol {
  width: 14.2%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#saturdayColMonth {
  width: 12%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#saturdayCol :hover {
  cursor: pointer;
}

#saturdayCol h1 {
  font-size: 36px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#saturdayColMonth h1 {
  font-size: 30px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  margin-top: 0.8em;
}

#saturdayCol p {
  font-size: 18px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#sundayCol {
  width: 14.2%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#sundayColMonth {
  width: 12%;
  text-align: center;
  font-family: 'Alike Angular', serif;
}

#sundayCol :hover {
  cursor: pointer;
}

#sundayCol h1 {
  font-size: 36px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#sundayColMonth h1 {
  font-size: 30px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  margin-top: 0.8em;
}

#sundayCol p {
  font-size: 18px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
}

#planfor {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
}

#dayOfWeek {
  font-family: 'Asul', serif;
  font-size: 24px;
  padding-top: 0;
  text-align: right;
}

#numericalDate {
  font-family: 'Eczar', serif;
  font-size: 22px;
  padding-top: 0;
  text-align: right;

}

#monthDayView {
  font-family: 'Asul', serif;
  font-size: 24px;
  padding-top: 0;
  text-align: center;
}

#month {
  font-family: 'Asul', serif;
  font-size: 24px;
  padding-top: 0;
  text-align: center;
}

#yearDayView {
  font-family: 'Eczar', serif;
  font-size: 27px;
  padding-top:0;
}

#year {
  font-family: 'Eczar', serif;
  font-size: 27px;
  padding-top: 0;
}

#daytimer {
  background-image: url(../img/background-2030242.jpg);
  background-repeat: repeat;
  background-size: 75%;
  font-family: 'Neuton', serif;
  font-size: 48px;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  text-rendering: geometricPrecision;
  padding-left: 0.1em;
  padding-top: 0;
  overflow: scroll;
  height: 13.6em;
  width: 38%;
}

#mondayDay {
  width: 13.7%;
  background-image: url(../img/background-2030242.jpg);
  background-repeat: repeat;
  background-size: 75%;
  font-family: 'Neuton', serif;
  font-size: 24px;
  letter-spacing: normal;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  text-rendering: geometricPrecision;
  border: solid #000000 3px;
  overflow: scroll;
  height: 565px;
  padding-left: 0;
  margin-left: 0.2em;
}

#tuesdayDay {
  width: 13.7%;
  background-image: url(../img/background-2030242.jpg);
  background-repeat: repeat;
  background-size: 75%;
  font-family: 'Neuton', serif;
  font-size: 24px;
  letter-spacing: normal;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  text-rendering: geometricPrecision;
  border: solid #000000 3px;
  overflow: scroll;
  height: 565px;
  padding-left: 0;
  margin-left: 0.05em;
}

#wednesdayDay {
  width: 13.7%;
  background-image: url(../img/background-2030242.jpg);
  background-repeat: repeat;
  background-size: 75%;
  font-family: 'Neuton', serif;
  font-size: 24px;
  letter-spacing: normal;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  text-rendering: geometricPrecision;
  border: solid #000000 3px;
  overflow: scroll;
  height: 565px;
  padding-left: 0;
  margin-left: 0.05em;
}

#thursdayDay {
  width: 13.7%;
  background-image: url(../img/background-2030242.jpg);
  background-repeat: repeat;
  background-size: 75%;
  font-family: 'Neuton', serif;
  font-size: 24px;
  letter-spacing: normal;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  text-rendering: geometricPrecision;
  border: solid #000000 3px;
  overflow: scroll;
  height: 565px;
  padding-left: 0;
  margin-left: 0.05em;
}

#fridayDay {
  width: 13.7%;
  background-image: url(../img/background-2030242.jpg);
  background-repeat: repeat;
  background-size: 75%;
  font-family: 'Neuton', serif;
  font-size: 24px;
  letter-spacing: normal;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  text-rendering: geometricPrecision;
  border: solid #000000 3px;
  overflow: scroll;
  height: 565px;
  padding-left: 0;
  margin-left: 0.05em;
}

#saturdayDay {
  width: 13.7%;
  background-image: url(../img/background-2030242.jpg);
  background-repeat: repeat;
  background-size: 75%;
  font-family: 'Neuton', serif;
  font-size: 24px;
  letter-spacing: normal;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  text-rendering: geometricPrecision;
  border: solid #000000 3px;
  overflow: scroll;
  height: 565px;
  padding-left: 0;
  margin-left: 0.05em;
}

#sundayDay {
  width: 13.7%;
  background-image: url(../img/background-2030242.jpg);
  background-repeat: repeat;
  background-size: 75%;
  font-family: 'Neuton', serif;
  font-size: 24px;
  letter-spacing: normal;
  margin-left: 0;
  margin-top: 0;
  text-align: left;
  text-rendering: geometricPrecision;
  border: solid #000000 3px;
  overflow: scroll;
  height: 565px;
  padding-left: 0;
  margin-left: 0.05em;
}

#focusPanel {
  width: 30.5%;
  height: 41em;
  overflow: scroll;
  background-image: url(../img/background-2044512_1920.jpg);
  background-repeat: repeat;

  margin-left: 0.1em;
  background-color: #eeeeee;
}

#schedulePanel {
  height: 41em;
  overflow: scroll;

  margin-left: 0.1em;
  background-color: #eeeeee;
}

#goalsPanel {
  width: 30.5%;
  height: 41em;
  overflow: scroll;
  background-image: url(../img/background-2044512_1920.jpg);
  background-repeat: repeat;

  margin-left: 0.1em;

}

#daytimer h4 {
  margin-left: 0.4em;
}
#daytimer p {
   font-size: 42px;
   margin-left: 0.7em;
   margin-top: 0.2em;

 }

 .weekHours {
   padding: 0;
   margin: 0;
   text-align: left;
 }


 .hour {
   border: solid #111111 1px;
   height: 1.4em;
   background-color: transparent;
 }

 .hourWeek {
   margin: 0;
   padding: 0;
   height: 1.1em;
   width: 99%;
   border-bottom: solid #111111 1px;
 }

 .hourWeek p {
   margin: 0;
   padding: 0;
   padding-left: 0.8em;
   font-size: 18px;
 }

 #focusPanel h3 {
   font-family: 'Neuton', serif;
   font-size: 24px;
   margin-left: 0.9em;
 }

 #focusPanel p {
   font-family: 'Neuton', sans-serif;
   font-size: 18px;
   margin-left: 0.6em;
   margin-right: 0.6em;
   margin-top: 0;
 }

#focusPanel h2 {
  font-family: 'Neuton', sans-serif;
  font-size: 30px;
  text-align: center;
}

.holidays {
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: pink;
  margin-top: 0;
  padding-top: 0;
}

.holidays img {
  width: 100%;
}

.events {
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
  text-align: left;
  padding-left: 2.5em;
  background-color: #ffff77;
  border-top: solid #ffff77 1px;
}

.billsAndTasks {
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
  text-align: left;
  padding-left: 0.5em;
  background: ##22bc44;
  background: -webkit-linear-gradient(-45deg, #22bc44, #cc9900); background: -o-linear-gradient(-45deg, #22bc44, #cc9900);   background: -moz-linear-gradient(-45deg, #22bc44, #cc9900); background: linear-gradient(-45deg, #22bc44, #cc9900);
  /*background-color: #cc9900;*/

  padding-bottom: 1.5em;
}

.billsAndTasks p {
  margin-left: 1.7em;
}

.billsAndTasks a {
  /* height: 0.4em;
  padding-bottom: 2.4em;
  padding-top: 0;
  font-family: 'Concert One', cursive;
  font-size: 24px;
  border: solid black 3px;
  border-radius: 5%;
  text-align: center;
  width: 130px;
  height: 25px;
  padding-bottom: 2em;
  float: inline-block;
  margin-left: 10em;
  height: 24px;
  width: 140px;*/

}

#sleepGoals {
  background-color: #DB3B2D;
}

#sleepGoals h4 {
  text-align: center;
  font-family: 'Concert One', cursive;
  font-size: 24px;
}

#sleepGoals h5 {
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
}

#sleepGoals h1 {
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 36px;
  z-index: 4;
}

#sleepGoals p {
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
}

#exerciseGoals {
  background-color: #22bc44;
}

#exerciseGoals h4 {
  text-align: center;
  font-family: 'Concert One', cursive;
  font-size: 24px;
}

#exerciseGoals h5 {
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
}

#exerciseGoals h1 {
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 36px;
  z-index: 4;
}

#exerciseGoals p {
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
}

#readingGoals {
  background-color: #22bc44;
}

#readingGoals h4 {
  text-align: center;
  font-family: 'Concert One', cursive;
  font-size: 24px;
}

#readingGoals h5 {
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
}

#readingGoals h1 {
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 36px;
  z-index: 4;
}

#readingGoals p {
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
}

#codingGoals {
  background-color: #22bc44;
}

#codingGoals h4 {
  text-align: center;
  font-family: 'Concert One', cursive;
  font-size: 24px;
}

#codingGoals h5 {
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
}

#codingGoals h1 {
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 36px;
  z-index: 4;
}

#codingGoals p {
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
}

#creativeGoals {
  background-color: #E2C286;
}

#creativeGoals h4 {
  text-align: center;
  font-family: 'Concert One', cursive;
  font-size: 24px;
}

#creativeGoals h5 {
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
}

#creativeGoals h1 {
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 36px;
  z-index: 4;
}

#creativeGoals p {
  text-align: center;
  font-family: 'Neuton', sans-serif;
  font-size: 24px;
}

.sleepBlockStart {
  height: 100%;
  background-color: #3B69B9;
  opacity: 0.8;
}

.sleepBlockStartWeek {
  height: 1.18em;
  background-color: #3B69B9;
  opacity: 0.8;
  border-top: solid #3B69B9 3px;
  border-bottom: solid #3B69B9 3px;
}

.sleepBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Sleep";
}

.sleepBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: "   Sleep";
}

.sleepBlock {
  height: 100%;
  background-color: #3B69B9;
  border-top: solid #3B69B9 3px;
  z-index: 5;
  opacity: 0.8;
}

.sleepBlockWeek {
  height: 1.15em;
  background-color: #3B69B9;
  border-top: solid #3B69B9 3px;
  opacity: 0.8;
}

.jobHuntBlockStart {
  height: 100%;
  background-color: #495753;
  opacity: 0.8;
}

.jobHuntBlockStartWeek {
  height: 1.18em;
  background-color: #495753;
  border-top: solid #495753 3px;
  border-bottom: solid #495753 3px;
  opacity: 0.8;
}

.jobHuntBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Job Hunt";
}

.jobHuntBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: "   Job Hunt";
}

.jobHuntBlock {
  height: 100%;
  background-color: #495753;
  border-top: solid #495753 3px;
  z-index: 5;
  opacity: 0.8;
}

.jobHuntBlockWeek {
  height: 1.18em;
  background-color: #495753;
  border-top: solid #495753 3px;
  border-bottom: solid #495753 3px;
  z-index: 5;
  opacity: 0.8;
}

.exerciseBlockStart {
  height: 100%;
  background-color: #B89697;
  opacity: 0.8;
}

.exerciseBlockStartWeek {
  height: 1.18em;
  background-color: #B89697;
  border-top: solid #B89697 3px;
  border-bottom: solid #B89697 3px;
  opacity: 0.8;
}



.exerciseBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Exercise";
}

.exerciseBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: " Exercise";
}

.exerciseBlock {
  height: 100%;
  background-color: #B89697;
  border-top: solid #B89697 3px;
  z-index: 5;
  opacity: 0.8;
}

.exerciseBlockWeek {
  height: 1.18em;
  background-color: #B89697;
  border-top: solid #B89697 3px;
  border-bottom: solid #B89697 3px;
  opacity: 0.8;
}

.mealBlockStart {
  height: 100%;
  background-color: #897751;
  opacity: 0.8;
}

.mealBlockStartWeek {
  height: 1.18em;
  background-color: #897751;
  opacity: 0.8;
  border-top: solid #897751 3px;
  border-bottom: solid #897751 3px;
}

.mealBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Meal";
}

.mealBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: "   Meal";
}

.mealBlock {
  height: 100%;
  background-color: #897751;
  border-top: solid #897751 3px;
  z-index: 5;
  opacity: 0.8;
}

.mealBlockWeek {
  height: 1.15em;
  background-color: #897751;
  border-top: solid #897751 1px;
  z-index: 5;
  opacity: 0.8;
}

.breakBlockStart {
  height: 100%;
  background-color: #E5EEE9;
  opacity: 0.8;
}

.breakBlockStartWeek {
  height: 1.18em;
  background-color: #E5EEE9;
  border-top: solid #E5EEE9 3px;
  border-bottom: solid #E5EEE9 3px;
  opacity: 0.8;
}

.breakBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Break";
}

.breakBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: "   Break";
}

.breakBlock {
  height: 100%;
  background-color: #E5EEE9;
  border-top: solid #E5EEE9 3px;
  z-index: 5;
  opacity: 0.8;
}

.breakBlockWeek {
  height: 1.18em;
  background-color: #E5EEE9;
  border-top: solid #E5EEE9 3px;
  border-bottom: solid #E5EEE9 3px;
  z-index: 5;
  opacity: 0.8;
}

.offsiteEventBlockStart {
  height: 100%;
  background-color: #756D65;
  opacity: 0.8;
}

.offsiteEventBlockStartWeek {
  height: 1.18em;
  background-color: #756D65;
  border-top: solid #756D65 3px;
  border-bottom: solid #756D65 3px;
  opacity: 0.8;
}

.offsiteEventBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Offsite Event";
}

.offsiteEventBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: "   Offsite";
}

.offsiteEventBlock {
  height: 100%;
  background-color: #756D65;
  border-top: solid #756D65 3px;
  z-index: 5;
  opacity: 0.8;
}

.offsiteEventBlockWeek {
  height: 1.18em;
  background-color: #756D65;
  border-top: solid #756D65 3px;
  border-bottom: solid #756D65 3px;
  z-index: 5;
  opacity: 0.8;
}

.meetingBlockStart {
  height: 100%;
  background-color: #BD435D;
  opacity: 0.8;
}

.meetingBlockStartWeek {
  height: 1.18em;
  background-color: #BD435D;
  opacity: 0.8;
  border-top: solid #BD435D 3px;
  border-bottom: solid #BD435D 3px;
}

.meetingBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Meeting";
}

.meetingBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: "   Meeting";
}

.meetingBlock {
  height: 100%;
  background-color: #BD435D;
  border-top: solid #BD435D 3px;
  z-index: 5;
  opacity: 0.8;
}

.meetingBlockWeek {
  height: 1.18em;
  background-color: #BD435D;
  border-top: solid #BD435D 3px;
  border-bottom: solid #BD435D 1px;
  z-index: 5;
  opacity: 0.8;
}

.codingBlockStart {
  height: 100%;
  background-color: #2D4860;
  opacity: 0.8;
}

.codingBlockStartWeek {
  height: 1.18em;
  background-color: #2D4860;
  border-top: solid #2D4860 3px;
  border-bottom: solid #2D4860 3px;
  opacity: 0.8;
}

.codingBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Coding";
}

.codingBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: "   Coding";
}

.codingBlock {
  height: 100%;
  background-color: #2D4860;
  border-top: solid #2D4860 3px;
  z-index: 5;
  opacity: 0.8;
}

.codingBlockWeek {
  height: 1.18em;
  background-color: #2D4860;
  border-top: solid #2D4860 3px;
  border-bottom: solid #2D4860 3px;
  z-index: 5;
  opacity: 0.8;
}

.adminBlockStart {
  height: 100%;
  background-color: #86863D;
  opacity: 0.8;
}

.adminBlockStartWeek {
  height: 1.18em;
  background-color: #86863D;
  opacity: 0.8;
  border-top: solid #86863D 1px;
  border-bottom: solid #86863D 1px;
}

.adminBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Admin";
}

.adminBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: "   Admin";
}

.adminBlock {
  height: 100%;
  background-color: #86863D;
  border-top: solid #86863D 3px;
  z-index: 5;
  opacity: 0.8;
}

.adminBlockWeek {
  height: 1.18em;
  background-color: #86863D;
  border-top: solid #86863D 3px;
  border-bottom: solid #86863D 1px;
  z-index: 5;
  opacity: 0.8;
}

.readingBlockStart {
  height: 100%;
  background-color: #CA9577;
  opacity: 0.8;
}

.readingBlockStartWeek {
  height: 1.18em;
  background-color: #CA9577;
  opacity: 0.8;
  border-top: solid #CA9577 3px;
  border-bottom: solid #CA9577 3px;
}

.readingBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Reading";
}

.readingBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: "   Reading";
}

.readingBlock {
  height: 100%;
  background-color: #CA9577;
  border-top: solid #CA9577 3px;
  z-index: 5;
  opacity: 0.8;
}

.readingBlockWeek {
  height: 1.18em;
  background-color: #CA9577;
  border-top: solid #CA9577 3px;
  border-bottom: solid #CA9577 3px;
  z-index: 5;
  opacity: 0.8;
}

.onsiteEventBlockStart {
  height: 100%;
  background-color: #888;
  opacity: 0.8;
}

.onsiteEventBlockStartWeek {
  height: 1.18em;
  background-color: #888;
  border-top: solid #888 3px;
  border-bottom: solid #888 3px;
  opacity: 0.8;
}

.onsiteEventBlockStart :after {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  margin-left: 2em;
  content: "   Onsite Event";
}

.onsiteEventBlockStartWeek :after {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 1em;
  content: "   Onsite";
}

.onsiteEventBlock {
  height: 100%;
  background-color: #888;
  border-top: solid #888 3px;
  z-index: 5;
  opacity: 0.8;
}

.onsiteEventBlockWeek {
  height: 1.18em;
  background-color: #888;
  border-top: solid #888 3px;
  border-bottom: solid #888 3px;
  z-index: 5;
  opacity: 0.8;
}

#daySchedule {
  display: none;
  background-image: url(../img/background-2044512_1920.jpg);
  background-repeat: repeat;
  font-family: 'Neuton', sans-serif;
  text-align: left;

  border-top: solid #000000 1px;
}

#daySchedule h3 {
  font-size: 36px;
  border-top: solid #000000 1px;
  margin-left: 0.4em;
}

#daySchedule h4 {
  font-family: 'Neuton', sans-serif;
  font-size: 36px;
  text-align: center;

}

#daySchedule p {
  margin: 0;
  margin-top: -0.5em;
  margin-left: 1.4em;
  padding: 0;
  padding-top: 0.4em;
  font-size: 24px;
  white-space: pre-wrap;
}

#pomodoro {
  visibility: visible;
  width: 20%;
  align-content: center;
  text-align: center;
  font-family: 'Asul', sans-serif;
}

#pomodoro h4 {
  font-size: 36px;
  background-image: url(../img/food-2027563.svg);
  background-repeat: no-repeat;
  background-size: 50%;
}

#pomodoro li {
  float: left;
}

#pomoTitle {
  display: initial;
}

#pomoTimerSetting {
  display: initial;
  float: left;
}

#pomoTimerSetting h2 {
  float: left;
}

#pomoTimerSetting button {
  float: left;
  margin-top: 3.4em;
  width: 40px;
  border-radius: 100%;
  background-color: #00FF00;
  opacity: 0.5;
}


#pomoTimerSetting p {
  float: left;
  margin-right: 1em;
  margin-left: 0;
  margin-top: 2em;
}

#pomoBreakSetting {
  visibility: hidden;
  float: left;
}

#pomoBreakSetting h2 {
  float: left;
}

#pomoBreakSetting button {
  float: left;
  margin-top: 3.4em;
  width: 40px;
  border-radius: 100%;
  background-color: #00FF00;
  opacity: 0.5;
}


#pomoBreakSetting p {
  float: left;
  margin-right: 1em;
  margin-left: 0;
  margin-top: 2em;
}

#numberOfPomos {
  visibility: hidden;
  float: left;
}

#numberOfPomos p {
  float: left;
  margin-right: 1em;
  margin-left: 0;
  margin-top: 2em;
}

#numberOfPomos h2 {
  float: left;
}

#numberOfPomos button {
  float: left;
  margin-top: 3.4em;
  width: 40px;
  border-radius: 100%;
  background-color: #00FF00;
  opacity: 0.5;
}

#pomoCountdown {
  visibility: hidden;
  float: left;
}

#pomoCountdown p {
  float: right;
  margin-left: 5em;
  margin-top: 0;
}

#pomoCountdown h2 {
  font-family: 'Space Mono', monospace;
  float: left;
  margin-bottom: 0;
}

#pomoCountdown button {
  font-size: 18px;
  background-color: #ddff11;
  opacity: 0.9;
  border-radius: 10%;
  margin-left: 0;
  float: left;
}

#pomoCountdown p {
  float:left;
}

#breakCountdown {
  display: none;
}

#nextPomo {
  display: none;
}

#pomoNext {
  font-size: 18px;
  background-color: #ddff11;
  opacity: 0.9;
  border-radius: 10%;
  margin-left: 1.4em;
}

#setPomoInterval {
  font-family: 'Space Mono', monospace;
}

#setBreakInterval {
  font-family: 'Space Mono', monospace;
}

#setNumberOfPomos {
  font-family: 'Space Mono', monospace;
}

#pomoPrevious {
  display: none;
  font-size: 18px;
  background-color: #ddff11;
  opacity: 0.9;
  border-radius: 10%;
  margin-left: -1.8em;
}

#monthStrip {
  height: 4.4em;
  text-align: center;
}

#monthTitle  h1 {
  font-family: 'Asul', sans-serif;
  font-size: 48px;
  padding: 0;
  margin: 0;
}

#month {
  padding-left: 4em;
  width: 100%;

  height: 5.5em;
  margin-bottom: 0;
}



.day {
  width: 150px;
  height: 150px;
  text-align: center;
  border: solid #000000 4px;
}

#month :hover {
  cursor: pointer;
}


.weekMonthView {
  width: 100%;
}

#monthTable {
  align-content: center;
  height: 100%;

}

#week6 {
  display: none;
}

#weekOf1Cell {
  background-image: url(../img/modern-migration-of-the-spirit-the-epic-of-american-civilization-1934.jpg);
  background-size: 100%;
  border: solid silver 5px;
  z-index: 4;
}

#weekOf1Cell :hover {
  color: #ffffff;

}

#week1Monday {
  color: #999FFF;
}

#week1MondayCell :hover {
  color: white;
}

#week1MondayCell {
  background-image: url(../img/glass-2502963_1920.jpg);
  opacity: 0.4;
}

#week1TuesdayCell :hover {
  color: red;
}

#week1Tuesday {
  color: white;
}

#week1TuesdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.4;
}

#week1Wednesday {
  color: white;
}

#week1WednesdayCell :hover {
  color: red;
}

#week1WednesdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.4;
}

#week1Thursday {
  color: white;
}

#week1ThursdayCell :hover {
  color: red;
}

#week1ThursdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.4;
}

#week1Friday {
  color: white;
}

#week1FridayCell :hover {
  color: red;
}

#week1FridayCell {
  background-image: url(../img/fela3680.jpg);
  background-size: 140%;
  opacity: 0.4;
}

#week1Saturday {
  color: black;
}

#week1SaturdayCell :hover {
  color: silver;
}

#week1SaturdayCell {
  background-image: url(../img/baseball-field-1563858_640.jpg);
  background-size: 150%;
  opacity: 0.9;
  border: solid silver 5px;
  z-index: 4;
}

#week1Sunday {
  color: black;
}

#week1SundayCell :hover {
  color: silver;
}

#week1SundayCell {
  background-image: url(../img/SunRa71.jpg);
  background-size: 140%;
  opacity: 0.9;
}

#weekOf2Cell :hover {
  color: white;
}

#weekOf2Cell {
  background-image: url(../img/highway-and-byways-1929.jpg);
  background-size: 100%;
}

#week2MondayCell :hover {
  color: silver;
}

#week2MondayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week2Monday {
  color: black;
}

#week2TuesdayCell :hover {
  color: silver;
}

#week2TuesdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week2Tuesday {
  color: black;
}

#week2WednesdayCell :hover {
  color: silver;
}

#week2WednesdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week2Wednesday {
  color: black;
}

#week2ThursdayCell :hover {
  color: silver;
}

#week2ThursdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week2Thursday {
  color: black;
}

#week2FridayCell :hover {
  color: silver;
}

#week2FridayCell {
  background-image: url(../img/fela2.jpg);
  background-size: 100%;
  opacity: 0.9;

}

#week2Friday {
  color: black;
}

#week2SaturdayCell :hover {
  color: silver;
}

#week2SaturdayCell {
  background-image: url(../img/baseball-1425124_640.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week2Saturday {
  color: black;
}

#week2SundayCell :hover {
  color: silver;
}

#week2SundayCell {
  background-image: url(../img/sunno1.jpg);
  background-size: 120%;
  opacity: 0.9;

}

#week2Sunday {
  color: black;
}

#weekOf3Cell :hover {
  color: white;
}

#weekOf3Cell {
  background-image: url(../img/ile-de-france-1935.jpg);
  background-size: 140%;
}

#week3MondayCell :hover {
  color: silver;
}

#week3MondayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week3Monday {
  color: black;
}

#week3TuesdayCell :hover {
  color: silver;
}

#week3TuesdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week3Tuesday {
  color: black;
}

#week3WednesdayCell :hover {
  color: silver;
}

#week3WednesdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week3Wednesday {
  color: black;
}

#week3ThursdayCell :hover {
  color: silver;
}

#week3ThursdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week3Thursday {
  color: black;
}

#week3FridayCell :hover {
  color: silver;
}

#week3FridayCell {
  background-image: url(../img/fela3.jpg);
  background-size: 100%;
  opacity: 0.9;

}

#week3Friday {
  color: black;
}

#week3SaturdayCell :hover {
  color: silver;
}

#week3SaturdayCell {
  background-image: url(../img/seattle-1037404_640.jpg);
  background-size: 180%;
  opacity: 0.9;

}

#week3Saturday {
  color: black;
}

#week3SundayCell :hover {
  color: silver;
}

#week3SundayCell {
  background-image: url(../img/250px-SunAraw.jpg);
  background-size: 120%;
  opacity: 0.9;

}

#week3Sunday {
  color: black;
}

#weekOf4Cell :hover {
  color: white;
}

#weekOf4Cell {
  background-image: url(../img/the-blue-ship-1934.jpg);
  background-size: 140%;
}

#week4MondayCell :hover {
  color: silver;
}

#week4MondayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week4Monday {
  color: black;
}

#week4TuesdayCell :hover {
  color: silver;
}

#week4TuesdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week4Tuesday {
  color: black;
}

#week4WednesdayCell :hover {
  color: silver;
}

#week4WednesdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week4Wednesday {
  color: black;
}

#week4ThursdayCell :hover {
  color: silver;
}

#week4ThursdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week4Thursday {
  color: black;
}

#week4FridayCell :hover {
  color: silver;
}

#week4FridayCell {
  background-image: url(../img/Kuti-Fela-Anikulapo.jpg);
  background-size: 100%;
  opacity: 0.9;

}

#week4Friday {
  color: black;
}

#week4SaturdayCell :hover {
  color: silver;
}

#week4SaturdayCell {
  background-image: url(../img/baseball-647423_640.jpg);
  background-size: 180%;
  opacity: 0.9;

}

#week4Saturday {
  color: black;
}

#week4SundayCell :hover {
  color: silver;
}

#week4SundayCell {
  background-image: url(../img/sunra4.jpg);
  background-size: 120%;
  opacity: 0.9;

}

#week4Sunday {
  color: black;
}

#weekOf5Cell :hover {
  color: white;
}

#weekOf5Cell {
  background-image: url(../img/danae-1908.jpg);
  background-size: 140%;
}

#week5MondayCell :hover {
  color: silver;
}

#week5MondayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week5Monday {
  color: black;
}

#week5TuesdayCell :hover {
  color: silver;
}

#week5TuesdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week5Tuesday {
  color: black;
}

#week5WednesdayCell :hover {
  color: silver;
}

#week5WednesdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week5Wednesday {
  color: black;
}

#week5ThursdayCell :hover {
  color: silver;
}

#week5ThursdayCell {
  background-image: url(../img/glass-2418168_1920.jpg);
  background-size: 140%;
  opacity: 0.9;

}

#week5Thursday {
  color: black;
}

#week5FridayCell :hover {
  color: white;
}

#week5FridayCell {
  background-image: url(../img/glass-2502963_1920.jpg);
  background-size: 160%;
  opacity: 0.9;

}

#week5Friday {
  color: #999FFF;
}

#week5SaturdayCell :hover {
  color: white;
}

#week5SaturdayCell {
  background-image: url(../img/glass-2502963_1920.jpg);
  background-size: 160%;
  opacity: 0.9;

}

#week5Saturday {
  color: #999FFF;
}

#week5SundayCell :hover {
  color: white;
}

#week5SundayCell {
  background-image: url(../img/glass-2502963_1920.jpg);
  background-size: 160%;
  opacity: 0.9;

}

#week5Sunday {
  color: #999FFF;
}

footer {
  text-align: center;
  width: 100%;
  position: relative;

}

footer h1 {
  font-family: 'Asul', sans-serif;
  float: left;
  margin-top: 1.05em;
  margin-left: 0.3em;
}

footer p {
  font-family: 'Asul', sans-serif;
  float: left;
  padding-left: 1.4em;
  margin-top: 2.6em;
  font-size: 18px;
}

footer h2 {
  font-family: 'Asul', sans-serif;
  float: left;
  padding-left: 3em;
  margin-top: 1.7em;
}

footer h3 {
  font-family: 'Asul', sans-serif;
  float: left;
  padding-left: 2em;
  margin-top: 2.5em;
}

footer img {
  position: relative;
  float: left;
  width: 60%;
  padding: 0;
  border: solid #000000 1px;
  border-radius: 33%;
}

#footerCol1 {
  display: none;
}

#footerCol3 {
  text-align: center;
  font-weight: normal;
}

#loginDiv {
  background-image: url(../img/background-2044512_1920.jpg);
  background-repeat: no-repeat;
  align-content: center;
  padding-left: 13em;
  padding-top: 1em;
  padding-bottom: 8em;
  height: 176px;
}

#loginEmail {
  visibility: hidden;
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  width: 400px;
  margin-bottom: .5em;
  margin-left: -4em;
  opacity: 0;
}

#newUserName {
  visibility: hidden;
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  width: 400px;
  margin-bottom: .5em;
  margin-left: -4em;
  opacity: 0;
}

#newUserEmail {
  visibility: hidden;
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  width: 400px;
  margin-bottom: .5em;
  margin-left: -4em;
  opacity: 0;
}

#newUserPassword {
  visibility: hidden;
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  width: 400px;
  margin-bottom: .5em;
  margin-left: -4em;
  opacity: 0;
}

#newUserVerifyPassword {
  visibility: hidden;
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  width: 400px;
  margin-bottom: .5em;
  margin-left: -4em;
  opacity: 0;
}

#loginPassword {
  visibility: hidden;
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  width: 400px;
  margin-bottom: .5em;
  margin-left: -4em;
  opacity: 0;
}

#loginSubmit {
  visibility: hidden;
  opacity: 0;
}

#loginExit {
  visibility: hidden;
  opacity: 0;
}

#loginForgotPassword {
  visibility: hidden;
  opacity: 0;

}

#loginForgotPassword p {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
}

#landingLogin {
  visability: visible;
}

#userLoginForm {
  display: none;
}

#newUserForm {
  display: initial;
}

#loginFailSpace {

}

#loginFailNotice {
  display: none;
  font-family: 'Space Mono', monospace;
  color: #ff0000;
  font-size: 30px;
  font-weight: bolder;
}

#newUserSubmit {
  visibility: hidden;
  opacity: 0;
}

#newUserExit {
  visibility: hidden;
  opacity: 0;
}

#nextContinue {
  display: none;
}

.holidayName {
  font-family: 'Asul', sans-serif;
  font-weight: 200;
  font-size: 36px;
}

.occasions {

  align-content: center;
  font-family: 'Asul', sans-serif;
  font-weight: 200;
  font-size: 36px;
}

.occasions a {
  float: right;
}

.occasions h2 {
  font-family: 'Alike Angular', serif;
  font-size: 24px;
}

#addNewOccasion {
  display: none;
}

#newOccasionsName {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  width: 80%;
  margin-left: 0.8em;
}

#isAnnualOccasion {
  float: left;
  height: 0.9em;
}

#addNewOccasion h4 {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 0.4em;
}

#editDeleteOccasion {
  display: none;
}

#editOccasionName {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  width: 80%;
  margin-left: 0.8em;
}

.paidPal {
  display: none;
}

.paidPal p {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
}

.paidPal number[type=number] {
  margin-left: 3em;
  width: 40%;
}

.taskPal {
  display: initial;
  align-items: center;
  align-content: center;
}

.taskPal p {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
}

.taskPal input[type=text] {
  width: 95%;
  align-self: center;
}

.taskPal textarea[type=textarea] {
  width: 95%;
  align-self: center;
}

.taskPal input[type=date] {
  width: 75%;
  align-self: center;
}

#taskEntryForm {
  display: initial;
  align-items: center;
  align-content: center;
}



#taskEntryForm  p {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
}

#taskEntryForm input[type=text] {
  width: 95%;
  align-self: center;
}

#enterTaskInfos {
  width: 95%;
  align-self: center;
}

#taskEntryForm input[type=date] {
  width: 75%;
  align-self: center;
}

.billInfos {
  display: none;
}

#addBillButton {
  float: right;
  margin-right: 0.5em;
}

#addTaskButton {
  float: right;
  margin-right: 0.5em;
}

#billEntryForm {
  display: none;
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
}

#billEntryForm input[type=text] {
  margin-left: 0.4em;
  width: 80%;
}

#billEntryForm input[type=number] {
  margin-left: 0.4em;
  width: 80%;
}

#billEntryForm input[type=date] {
  margin-left: 0.4em;
  width: 80%;
}

#billEntryErrorField {
  font-family: 'Alike Angular', serif;
  font-size: 24px;
  margin-left: 1em;
  color: #ff0000;
}

.taskPal {
  display: none;
}

#taskEntryForm {
  display: none;
}

#taskEntryErrorField {
  font-family: 'Alike Angular', serif;
  font-size: 24px;
  margin-left: 1em;
  color: #ff0000;
}

#countdownClock {
  font-family: 'Space Mono', monospace;
  font-weight: bolder;
  font-size: 24px;
}

.hour button {
  font-size: 18px;
  background-color: #ddff11;
  opacity: 0.9;
  border-radius: 100%;
  margin-left: 0;
  float: right;
  margin-right: 0.6em;
  width: 3em;
  height: 3em;
}

#editDeleteAppointments {
  display: none;
  width: 30.5%;
  height: 41em;
  overflow: scroll;


  margin-left: 0.1em;
  background: #22bc44;
  background-color: -webkit-linear-gradient(135deg, #22ac44, #abdada);
  background: -o-linear-gradient(135deg, #22ac44, #abdada);
  background: -moz-linear-gradient(135deg, #22ac44, #abdada);
  background: linear-gradient(135deg, #22ac44, #abdada);
}

#editDeleteAppointments h2 {
  font-family: 'Asul', sans-serif;
  font-size: 30px;
  color: #000000;
  margin-left: 1.4em;

}

#editDeleteAppointments h3 {
  font-family: 'Asul', sans-serif;
  font-size: 24px;
  color: #000000;
  margin-left: 1.4em;

}

#editDeleteAppointments p {
  font-family: 'Alike Angular', serif;
  font-size: 24px;
  margin-left: 1.2em;
}

#editDeleteAppointments a {
  float: left;
  margin-left: 0.6em;
}

#editDeleteBlocktypeSelector {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
  width: 80%;
}

#blockKeysSelector {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
  width: 80%;
}

.timePositioning {
  align-items: center;
  align-content: center;
  float:left;
  width: 43%;
  margin-left: 1.2em;
  padding-bottom: 2.5em;
}

.timePositioning button {
  border-radius: 100%;
  font-size: 18px;
  background-color: #ddff11;
  opacity: 0.9;
  border-radius: 100%;
  float: left;
  margin: 0.2em;
  margin-left: 2.2em;
  padding: 0;
  width: 2em;
  height: 2em;
}

#editDeleteStart {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  background-color: #ffffff;
  width: 3.3em;
  padding-left: 0.3em;
  border-radius: 5%;
  padding-left: -3em;
}

#editDeleteEnd {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  background-color: #ffffff;
  padding-left: 0.3em;
  width: 3.3em;
  border-radius: 5%;
  padding-left: -3em;
}

#editLocation {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
  width: 80%;
}

#editUserNotes {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
  width: 80%;
  rows: 5;
}

#blocktypeCRUD {
  display: none;
  width: 30.5%;
  height: 41em;
  overflow: scroll;


  margin-left: 0.1em;
  background: #22bc44;
  background-color: -webkit-linear-gradient(135deg, #22ac44, #abdada);
  background: -o-linear-gradient(135deg, #22ac44, #abdada);
  background: -moz-linear-gradient(135deg, #22ac44, #abdada);
  background: linear-gradient(135deg, #22ac44, #abdada);
}

#blocktypeCRUD h2 {
  font-family: 'Asul', sans-serif;
  font-size: 30px;
  color: #000000;
  margin-left: 1.4em;
  letter-spacing: normal;

}

#blocktypeCRUD h3 {
  font-family: 'Asul', sans-serif;
  font-size: 24px;
  color: #000000;
  margin-left: 1.4em;
  letter-spacing: normal;
}

#blocktypeCRUD p {
  font-family: 'Alike Angular', serif;
  font-size: 24px;
  margin-left: 1.2em;
  letter-spacing: normal;
}

#blocktypeCRUD a {
  float: left;
  margin-left: 2.9em;
  letter-spacing: normal;
}

#blocktypeCRUDType {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
  width: 80%;
}


#blocktypeCRUDColor {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
  width: 6em;
  height: 3em;
  float: left;
}

#blocktypeCRUDSubtypes {
  width: 2em;
  height: 2em;
  margin-top: 0em;
  margin-left: 4em;
}

#blocktypeCRUD button {
  font-weight: bolder;
  font-family: 'Asul', sans-serif;
  font-size: 24px;
  background: #22ac44;
  background-color: -webkit-linear-gradient(135deg, #22ac44, #ffffff);
  background: -o-linear-gradient(135deg, #22ac44, #ffffff);
  background: -moz-linear-gradient(135deg, #22ac44, #ffffff);
  background: linear-gradient(135deg, #22ac44, #ffffff);
  opacity: 0.7;
  margin-left: 2.2em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

#blocktypeCRUD input[type=text] {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
  width: 80%;
}

#blocktypeCRUDKeychain {
  width: 2em;
  height: 2em;
  margin-top: 0em;
  margin-left: 4em;
}

#blocktypeCRUDErrorField {
  font-family: 'Asul', sans-serif;
  color: red;
  font-size: 12px;
  margin-left: 3em;

}

#subtypeCRUD {
  display: none;
  width: 30.5%;
  height: 41em;
  overflow: scroll;


  margin-left: 0.1em;
  background: #22bc44;
  background-color: -webkit-linear-gradient(135deg, #22ac44, #abdada);
  background: -o-linear-gradient(135deg, #22ac44, #abdada);
  background: -moz-linear-gradient(135deg, #22ac44, #abdada);
  background: linear-gradient(135deg, #22ac44, #abdada);
}

#subtypeCRUD h2 {
  font-family: 'Asul', sans-serif;
  font-size: 30px;
  color: #000000;
  margin-left: 1.4em;
  letter-spacing: normal;

}

#subtypeCRUD h3 {
  font-family: 'Asul', sans-serif;
  font-size: 24px;
  color: #000000;
  margin-left: 1.4em;
  letter-spacing: normal;
}

#subtypeCRUD p {
  font-family: 'Alike Angular', serif;
  font-size: 24px;
  margin-left: 1.2em;
  letter-spacing: normal;
}

#subtypeCRUD a {
  float: left;
  margin-left: 2.9em;
  letter-spacing: normal;
}

#subtypeCRUDEntry {
  font-family: 'Alike Angular', serif;
  font-size: 18px;
  margin-left: 3em;
  width: 80%;
}
