<div class="pure-g">
  <div id="logo" class="pure-u-1-5">
    <img href="#" src="./img/onlinelogomaker-071717-1242-0242.png">
  </div>
  <div id="userProfileClock" class="pure-u-1-5">

    <p></p>
  </div>
  <div class="pure-u-2-5">
    <ul>
      <li><a href="" class="btn" ng-click="$ctrl.gotoMonthView()">Month</a></li>
      <li><a href="" class="btn" ng-click="$ctrl.gotoDayview()">Day</a></li>
      <li><a href="" class="btn" ng-click="$ctrl.gotoWeek()">Week</a></li>
      <li><a href="" class="btn">Year</a></li>
      <li><a href="" class="btn">Next</a></li>
      <li><a href="" class="btn" ng-click="$ctrl.logout()">logout</a></li>
    </ul>
  </div>
</div>



<div id="greetingDateStrip" class="pure-g">
  <div id="greetingStrip" class="pure-u-1-2">
    <p id="greetingsUser"></p>
    <p id="greetingsDate"></p>
  </div>
  <div id="adminMsg" class="pure-u-1-2">
    <h3>Messages from the Admins:</h3>
    <p>Welcome to 168h! We are all time travellers at present.</p>
  </div>
</div>

<div id="photoUploadFormDiv">

  <div id="photoUploaderBar">

    <h1>Photo Upload</h1>
  </div>
  <form id="photoUploadForm" enctype="multipart/form-data" class="pure-form pure-form-stacked">
    <fieldset>
      <input type="file" name="userPhoto" id="userPhotoInput" class="pure-input-1">
      <div id="photoUploaderButtonsField">
        <a href="" class="btn" id="photoSubmit">submit</a>
        <a href="" class="btn" id="photoCancel">cancel</a>
      </div>
    </fieldset>
  </form>
</div>

<div id="dashboard" class="pure-g">
  <div id="userProfilePortal" class="pure-u-1-3">
    <div id="profileZone">
      <div id="userPic">

        <a href="" id="userEditor" class="btn" ng-click="$ctrl.profileEditor()">edit profile</a>
      </div>
    </div>
    <div id="blocktypeZone">
      <div>
        <img src="../img/cube-2351878_1280.jpg">
        <a href="" id="blocktypeManager" class="btn" ng-click="$ctrl.blocktypeEditor()">block edit</a>
      </div>

    </div>
    <div id="holidayZone">
      <div>
        <img src="../img/lights-1088141_1920.jpg">
        <a href="" id="holidayManager" class="btn" ng-click="$ctrl.holidayManage()">holidays</a>
      </div>

    </div>
    <div id="occasionZone">
      <div>
        <img src="../img/eve-1071355_1920.jpg">
        <a href="" id="occasionManager" class="btn" ng-click="$ctrl.occasionManage()">occasions</a>
      </div>

    </div>
    <div id="billZone">
      <div>
        <img src="../img/pay-off-bills.jpg">
        <a href="" id="billsManagerButton" class="btn" ng-click="$ctrl.billsManager()">bills</a>
      </div>

    </div>
    <div id="taskZone">
      <div>
        <img src="../img/List-Notebook_.jpg">
        <a href="" id="tasksManager" class="btn" ng-click="$ctrl.taskManager()">tasks</a>
      </div>

    </div>
    <div id="goalsZone">
      <div>
        <img src="../img/football-2101738_1920.jpg">
        <a href="" id="goalsManager" class="btn"
        ng-click="$ctrl.goalManager()">goals</a>
      </div>

    </div>
    <div id="observancesZone">
      <div>
        <img src="../img/observation-tower-944589_1920.jpg">
        <a href="" id="observancesManager" class="btn" ng-click="$ctrl.observanceManager()">observance</a>
      </div>

    </div>
    <div id="artsCurratorZone">
      <div>
        <img src="../img/paintbrush-2243561_1920.jpg">
        <a href="" id="artsCuratorManager" class="btn">art</a>
      </div>

    </div>

  </div>
  <div id="generalEditing" class="pure-u-1-3">
    <div id="userEditorDiv">
      <div id="userEditBar">
        <a href="" class="btn" id="userProfileDone" ng-click="$ctrl.closeUserEditor()">done</a>
        <h1>Profile Editor</h1>

      </div>
      <form id="userEditorForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="weekSubsEntry">
            <p>Name:</p>
            <input type="text" id="userNameInput" class="pure-input-1">
            <a href="" class="btn" id="updateUserName">submit</a>
          </div>
          <br><br>

        </fieldset>
        <div id="userOptionButtons">
          <a href="" class="btn" id="changeProfilePhoto" ng-click="$ctrl.userPhotoEditor()">photo</a>
          <a href="" class="btn" id="changePassword">password</a>
          <a href="" class="btn" id="changeEmail">email</a>
          <a href="" class="btn" id="changeFriends">friends</a>
        </div>
        <a href="#" id="adminAccess"><p>admin</p></a>
        <a href="#" id="deleteAccount"><p>delete account</p></a>



      </form>
    </div>
    <div id="blocktypeEditDiv">
      <div id="blockEditBar">
        <a href="" class="btn" id="blockEditDone" ng-click="$ctrl.closeBlocktypeEditor()">done</a>
        <h1>Blocktype Editor</h1>

      </div>
      <form id="blockEditorForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="existingBlocks">
            <a href="" class="btn" id="addBlocktype" ng-click="$ctrl.createNewBlocktype()">new block</a>
            <a href="" class="btn" id="blockReporter" ng-click="$ctrl.blocktypeReport()">report</a>
            <main ng-repeat="block in $ctrl.userblocktypes | orderBy : $ctrl.sortBy">
              <p>{{block.type}}</p><br>
              <div class="indiBlockEdit">
                <a href="" class="btn" ng-click="$ctrl.editBlock(block.id)">edit</a>
              <a href="" class="btn" ng-click="$ctrl.deleteBlock(block.id)">delete</a>
            </div>
            </main>

          </div>
        </fieldset>





      </form>

    </div>
    <div id="holidayManagementDiv">
      <div id="holidayManagerBar">
        <a href="" class="btn" id="holidayManagerDone" ng-click="$ctrl.closeHolidayManager()">done</a>
        <h1>Holiday Manager</h1>

      </div>
      <form id="holidayManagerForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="holidayManagement">
            <a href="" class="btn" id="addHoliday" ng-click="$ctrl.addNewHoliday()">new</a>
            <a href="" class="btn" id="holidayReporter" ng-click="$ctrl.holidayReport()">report</a>
            <main ng-repeat="holiday in $ctrl.userholidays | orderBy : $ctrl.sortBy">
              <img src="{{holiday.picture}}">
              <p>{{holiday.name}}</p>
              <p>{{holiday.day}}</p>
              <br>
              <div class="holidayEdit">
                <a href="" class="btn" ng-click="$ctrl.editHoliday(holiday.id)">edit</a>
              <a href="" class="btn" ng-click="$ctrl.deleteHoliday(holiday.id)">delete</a>
              <br><br><br>

              </div>

            </main>
          </div>

        </fieldset>


      </form>


    </div>
    <div id="userHolidayDeleteConfirmDiv">
      <div id="userHolidayDeleteBar">
        <h1>Confirm Delete:</h1>
      </div>
      <div id="userHolidayDeleteConfirmForm">
        <img id="userHolidayDeleteImage">
        <p id="userHolidayDeleteQuery">Delete Holiday?</p>
        <div id="userHolidayDeleteConfirmButtons">
          <a class="btn" id="userHolidayConfirmYes">yes</a>
          <a class="btn" id="userHolidayConfirmNo">no</a>
        </div>
      </div>
    </div>

    <div id="occasionsManagementDiv">
      <div id="occasionsManagerBar">
        <a href="" class="btn" id="occasionsManagerDone" ng-click="$ctrl.closeOccasionsManager()">done</a>
        <h1>Occasions Manager</h1>

      </div>
      <form id="occasionsManagerForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="occasionsManagement">
            <a href="" class="btn" id="addOccasion" ng-click="$ctrl.addNewOccasion()">new</a>
            <a href="" class="btn" id="occasionReporter" ng-click="$ctrl.occasionReport()">report</a>
            <main ng-repeat="occasion in $ctrl.userOccasions | orderBy : $ctrl.sortBy">
              <p>{{occasion.name}}</p>
              <p>{{occasion.dayOf}}</p>
              <p>Occurs Annually: {{occasion.annualState}}</p>
              <br>
              <div class="occasionEdit">
                <a href="" class="btn" ng-click="$ctrl.editOccaision(occasion.id)">edit</a>
              <a href="" class="btn" ng-click="$ctrl.deleteOccasion(occasion.id)">delete</a>

              </div>

            </main>
          </div>

        </fieldset>


      </form>

    </div>
    <div id="userOccasionDeleteConfirmDiv">
      <div id="userOccasionDeleteBar">
        <h1>Confirm Delete:</h1>
      </div>
      <div id="userOccasionDeleteConfirmForm">
        <p id="userOccasionDeleteQuery">Delete Occasion?</p>
        <p id="userOccasionDeleteName"></p>
        <p id="userOccasionDeleteDate"></p>
        <p id="userOccasionDeleteAnnuality"></p>
        <div id="userOccasionDeleteConfirmButtons">
          <a class="btn" id="userOccasionConfirmYes">yes</a>
          <a class="btn" id="userOccasionConfirmNo">no</a>
        </div>
      </div>
    </div>
    <div id="billsManagementDiv">
      <div id="billsManagerBar">
        <a href="" class="btn" id="billsManagerDone" ng-click="$ctrl.closeBillsManager()">done</a>
        <h1>Bills Manager</h1>

      </div>
      <form id="billsManagerForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="billsManagement">
            <a href="" class="btn" id="addBill" ng-click="$ctrl.addNewBill()">new</a>
            <a href="" class="btn" id="billsReporter" ng-click="$ctrl.billsReport()">report</a>
            <div id="unpaidBillsDiv">
              <p>Unpaid Bills:</p>
              <main ng-repeat="unpaid in $ctrl.userUnpaidBills | orderBy : $ctrl.sortBy">
                <p>{{unpaid.name}}</p>
                <p>Amount: ${{unpaid.amount_due}}</p>
                <p>Date due: {{unpaid.cleanDue}}</p>
                <br>
                <div class="occasionEdit">
                  <a href="" class="btn" ng-click="$ctrl.editBill(unpaid.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteBill(unpaid.id)">delete</a>
                </div>
              </main>
            </div>
            <div id="paidBillsDiv">
              <p>Paid Bills:</p>
              <main ng-repeat="paid in $ctrl.userPaidBills | orderBy : $ctrl.sortBy">
                <p>{{paid.name}}</p>
                <p>Amount: ${{paid.amount_due}}</p>
                <p>Date paid: {{paid.cleanPaid}}</p>
                <br>
                <div class="occasionEdit">
                  <a href="" class="btn" ng-click="$ctrl.editBill(paid.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteBill(paid.id)">delete</a>
                </div>
              </main>
            </div>
          </div>

        </fieldset>


      </form>

    </div>
    <div id="userBillDeleteConfirmDiv">
      <div id="userBillDeleteBar">
        <h1>Confirm Delete:</h1>
      </div>
      <div id="userBillDeleteConfirmForm">
        <p id="userBillDeleteQuery">Delete Bill?</p>
        <p id="userBillDeleteName"></p>
        <p id="userBillDeletePayTo"></p>
        <p id="userBillDeleteAmountDue"></p>
        <p id="userBillDeletePaidBoolean"></p>
        <div id="userBillDeleteConfirmButtons">
          <a class="btn" id="userBillConfirmYes">yes</a>
          <a class="btn" id="userBillConfirmNo">no</a>
        </div>
      </div>
    </div>
    <div id="tasksManagementDiv">
      <div id="tasksManagerBar">
        <a href="" class="btn" id="tasksManagerDone" ng-click="$ctrl.closeTasksManager()">done</a>
        <h1>Tasks Manager</h1>

      </div>
      <form id="tasksManagerForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="tasksManagement">
            <a href="" class="btn" id="addTask" ng-click="$ctrl.addNewTask()">new</a>
            <a href="" class="btn" id="tasksReporter" ng-click="$ctrl.tasksReport()">report</a>
            <div id="uncompleteTasksDiv">
              <h2>Pending Tasks:</h2>
              <main ng-repeat="task in $ctrl.userTasksPending | orderBy : $ctrl.sortBy">
                <p>{{task.name}}</p>
                <p>Notes: {{task.user_notes}}</p>
                <p>Complete by: {{task.cleanDue}}</p>
                <br>
                <div class="occasionEdit">
                  <a href="" class="btn" ng-click="$ctrl.editTask(task.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteTask(task.id)">delete</a>
                </div>
              </main>
            </div>
            <div id="completedTasksDiv">
              <h2>Accomplished Tasks:</h2>
              <main ng-repeat="done in $ctrl.userTasksCompleted | orderBy : $ctrl.sortBy">
                <p>{{done.name}}</p>
                <p>Notes: {{done.user_notes}}</p>
                <p>Completed: {{done.cleanCompletionDate}}</p>
                <br>
                <div class="occasionEdit">
                  <a href="" class="btn" ng-click="$ctrl.editTask(done.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteTask(done.id)">delete</a>
                </div>
              </main>
            </div>
          </div>

        </fieldset>


      </form>



    </div>

    <div id="userTaskDeleteConfirmDiv">
      <div id="userTaskDeleteBar">
        <h1>Confirm Delete:</h1>
      </div>
      <div id="userTaskDeleteConfirmForm">
        <p id="userTaskDeleteQuery">Delete Task?</p>
        <p id="userTaskDeleteName"></p>
        <p id="userTaskDue"></p>
        <p id="userTaskCompleted"></p>
        <div id="userTaskDeleteConfirmButtons">
          <a class="btn" id="userTaskConfirmYes">yes</a>
          <a class="btn" id="userTaskConfirmNo">no</a>
        </div>
      </div>
    </div>

    <div id="goalsManagementDiv">
      <div id="goalsManagerBar">
        <a href="" class="btn" id="goalsManagerDone" ng-click="$ctrl.closeGoalsManager()">done</a>
        <h1>Goals Manager</h1>

      </div>
      <form id="goalsManagerForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="goalsManagement">
            <a href="" class="btn" id="addGoal" ng-click="$ctrl.addNewGoal()">new</a>
            <a href="" class="btn" id="goalsReporter" ng-click="$ctrl.goalsReport()">report</a>
            <h2>Goals:</h2>
            <main ng-repeat="goal in $ctrl.userGoals | orderBy : $ctrl.sortBy">
              <br><br><p>{{goal.blocktype}}:</p>
              <p>Weekly Goal (in hours): {{goal.weekly_goal}}</p>
              <br>
              <div class="goalEdit">
                <a href="" class="btn" ng-click="$ctrl.editGoal(goal.id)">edit</a>
                <a href="" class="btn" ng-click="$ctrl.deleteGoal(goal.id)">delete</a>
              </div><br><br>
            </main>

          </div>

        </fieldset>


      </form>

    </div>

    <div id="observancesManagementDiv">
      <div id="observancesManagerBar">
        <a href="" class="btn" id="observancesManagerDone" ng-click="$ctrl.closeObservancesManager()">done</a>
        <h1>Observances</h1>

      </div>
      <form id="observancesManagerForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="observancesManagement">
            <a href="" class="btn" id="addObservance" ng-click="$ctrl.addNewObservance()">new</a>
            <a href="" class="btn" id="observancesReporter" ng-click="$ctrl.observancesReport()">report</a>
            <br><br><h2>January:</h2><br>
            <div id="januaryObservanceToggleDiv">
              <a href="" class="btn" id="januaryObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('January')">view</a>
            </div><br>
            <div id="januaryObservanceDiv">
              <main ng-repeat="observe in $ctrl.janObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>February:</h2><br>
            <div id="februaryObservanceToggleDiv">
              <a href="" class="btn" id="februaryObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('February')">view</a>
            </div><br>
            <div id="februaryObservanceDiv">
              <main ng-repeat="observe in $ctrl.febObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>March:</h2><br>
            <div id="marchObservanceToggleDiv">
              <a href="" class="btn" id="marchObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('March')">view</a>
            </div><br>
            <div id="marchObservanceDiv">
              <main ng-repeat="observe in $ctrl.marObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>April:</h2><br>
            <div id="aprilObservanceToggleDiv">
              <a href="" class="btn" id="aprilObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('April')">view</a>
            </div><br>
            <div id="aprilObservanceDiv">
              <main ng-repeat="observe in $ctrl.aprObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>May:</h2><br>
            <div id="mayObservanceToggleDiv">
              <a href="" class="btn" id="mayObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('May')">view</a>
            </div><br>
            <div id="mayObservanceDiv">
              <main ng-repeat="observe in $ctrl.mayObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>June:</h2><br>
            <div id="juneObservanceToggleDiv">
              <a href="" class="btn" id="juneObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('June')">view</a>
            </div><br>
            <div id="juneObservanceDiv">
              <main ng-repeat="observe in $ctrl.junObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>July:</h2><br>
            <div id="julyObservanceToggleDiv">
              <a href="" class="btn" id="julyObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('July')">view</a>
            </div><br>
            <div id="julyObservanceDiv">
              <main ng-repeat="observe in $ctrl.julObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>August:</h2><br>
            <div id="augustObservanceToggleDiv">
              <a href="" class="btn" id="augustObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('August')">view</a>
            </div><br>
            <div id="augustObservanceDiv">
              <main ng-repeat="observe in $ctrl.augObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>September:</h2><br>
            <div id="septemberObservanceToggleDiv">
              <a href="" class="btn" id="septemberObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('September')">view</a>
            </div><br>
            <div id="septemberObservanceDiv">
              <main ng-repeat="observe in $ctrl.sepObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>October:</h2><br>
            <div id="octoberObservanceToggleDiv">
              <a href="" class="btn" id="octoberObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('October')">view</a>
            </div><br>
            <div id="octoberObservanceDiv">
              <main ng-repeat="observe in $ctrl.octObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>November:</h2><br>
            <div id="novemberObservanceToggleDiv">
              <a href="" class="btn" id="novemberObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('November')">view</a>
            </div><br>
            <div id="novemberObservanceDiv">
              <main ng-repeat="observe in $ctrl.novObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>
            <br><br><h2>December:</h2><br>
            <div id="decemberObservanceToggleDiv">
              <a href="" class="btn" id="decemberObservanceToggleButton" ng-click="$ctrl.toggleObservancMonth('December')">view</a>
            </div><br>
            <div id="decemberObservanceDiv">
              <main ng-repeat="observe in $ctrl.decObservances | orderBy : $ctrl.sortBy">
                <br><br><br><img src="{{observe.picture}}">
                <p>{{observe.name}}:</p>
                <p>{{observe.clean_date}}</p>
                <br>
                <div class="goalEdit">
                  <a href="" class="btn" ng-click="$ctrl.editObservance(observe.id)">edit</a>
                  <a href="" class="btn" ng-click="$ctrl.deleteObservance(observe.id)">delete</a>
                </div><br><br><br>
              </main>
            </div><br>

          </div>

        </fieldset>


      </form>

    </div>

  </div>
  <div id="secondaryEditing" class="pure-u-1-3">
    <div id="userProfilePhotoDiv">
      <div id="userProfilePhotoBar">
        <a href="" class="btn" id="userProfilePhotoDone" ng-click="$ctrl.userPhotoEditDone()">done</a>
        <h1>User Profile Photo</h1>
      </div>
      <form id="userProfilePhotoForm" class="pure-form pure-form-stacked">
        <fieldset>
          <img id="photoReference" src="https://mediasia.iafor.org/wp-content/uploads/sites/30/2017/02/IAFOR-Blank-Avatar-Image.jpg">
          <p id="onlineurl">Online URL:</p>
          <input type="text" id="newPhotoURL" class="pure-input-1">
          <div id="verifyOrSubmit">
            <a href="" class="btn" id="verifyPhotoURL">verify</a>
            <a href="" class="btn" id="updatePhotoURL">submit</a>
          </div>
          <p id="or">or</p>
          <a href="" class="btn" id="uploadPhoto" ng-click="$ctrl.photUploader()">upload</a>
        </fieldset>
        <div id="userProfilePhotoButtons">
        </div>
      </form>
    </div>
    <div id="userExistingBlockEditorDiv">
      <div id="userExistingBlocksEditorBar">
        <a href="" class="btn" id="userExistingBlocksEditorDone" ng-click="$ctrl.userExistingBlocksEditorDone()">done</a>
        <h1 id="existingBlockEditorTitle"></h1>
      </div>
      <form id="existingBlocksEditorForm" class="pure-form pure-form-stacked">
        <fieldset>
          <p>Blocktype Name:</p>
          <div id="existingBlocktypeEditorTypeDiv">
            <input type="text" id="existingBlocktypeEditorType" class="pure-input-1">
          </div>
          <p>Color:</p>
          <div id="existingBlocktypeColorDiv">
            <input type="color" id="existingBlocktypeEditorColor" class="pure-input-1">
          </div>
          <div id="existingBlocksSubtypesAndSubSubTypes">
            <p>Subtypes:</p>
            <div id="existingBlocktypesSubCheckDiv">
              <input type="checkbox" id="existingBlocktypeCheck" class="pure-input-1" checked>
            </div>
            <br>
            <div id="existingBlockSubs">
              <div id="existingAddNewDivAnchor">
                <button id="existingBlockAddNewSubtype">add new</button>
              </div>
              <div id="existingSubFields">

                <button class="removal">DELETE</button>
                <input type="text" class="pure-input-1">

              </div>
              <p>Additional Subtypes:</p>
              <div id="existingBlockSubSubtypesCheckboxAnchorDiv">
                <input type="checkbox" id="existingBlockSubSubtypes" class="pure-input-1" unchecked>

              </div>

              <div id="existingBlockSubSubs">
                <div id="existingBlockAddNewSubtypeAnchorDiv">
                  <button id="existingBlockAddNewSubSubtype">add new</button>
                </div>
                <div id="existingSubSubFields">

                  <button class="removal">DELETE</button>
                  <input type="text" class="pure-input-1">

                </div>
              </div>

            </div>
          </div>
        </fieldset>

      </form>

    </div>
    <div id="deleteBlocktypeConfirm">
      <div id="deleteBlocktypeConfirmBar">
        <h1 id="deleteBlocktypeTitle">Delete?</h1>

      </div>
      <div id="deleteBlocktypeConfirmField">
        <p id="deleteBlocktypeQuery"></p>
        <p id="deleteBlocktypeTotalBlocks"></p>
        <p id="deleteBlocktypePastBlocks"></p>
        <p id="deleteBlocktypeTodayBlocks"></p>
        <p id="deleteBlocktypeFutureBlocks"></p>
        <div id="deleteBlocktypeButtons">
          <a href="" class="btn" id="deleteBlocktypeCancelConfirm">confirm</a>
          <a href="" class="btn" id="deleteBlocktypeCancelButton">cancel</a>
        </div>
        <br><br><br>
        <p></p>

      </div>

    </div>
    <div id="reportForBlocktypes">
      <div id="blocktypeReportBar">
        <a href="" class="btn" id="blocktypeReportDone" ng-click="$ctrl.blocktypeReportDone()">done</a>
        <h1>Blocktype Report</h1>
      </div>
      <div id="blocktypeReportBody">
        <main ng-repeat="report in $ctrl.blockreporter | orderBy : $ctrl.sortBy">
          <div class="reporter">
            <h2>Block: {{report.type}}</h2>
            <p>Timeblocks: {{report.totalTimeblocks}}</p>
            <p>Past Blocks: {{report.pastBlockTotal}}</p>
            <p>Today: {{report.todayBlockTotal}}</p>
            <p>Future Blocks: {{report.futureBlockTotal}}</p>
            <p>Total Hours: {{report.blocktypeHours}}</p>
            <p>Past Hours: {{report.blocktypePastHours}}</p>
            <p>Hours Today: {{report.blocktypeTodayHours}}</p>
            <p>Future Hours: {{report.blocktypeFutureHours}}</p>
            <p>Projected Hours for current Calendar week: {{report.blocktypeProjectedCalendarWeekHours}}</p>
            <p>Projected Hours for Next Seven Days: {{report.blocktypeProjectedWeekHours}}</p>
          </div>

        </main>

      </div>

    </div>
    <div id="reportForHolidays">
      <div id="holidayReportBar">
        <a href="" class="btn" id="holidayReportDone" ng-click="$ctrl.holidayReportDone()">done</a>
        <h1>Holiday Report</h1>
      </div>
      <div id="HolidayReportBody">
        <main ng-repeat="report in $ctrl.holidayReporter | orderBy : $ctrl.sortBy">
          <div class="reporter">
            <h2>Calendar Year: {{report.calendarTotal}} days</h2>
            <h2>January:</h2> <p>{{report.calendarJan}} Holidays - {{report.calendarJanHolidays}}</p>
            <p>{{report.calendarJanOverlap}} overlapping -  {{report.calendarJanTotal}} days total.</p>
            <h2>February:</h2> <p>{{report.calendarFeb}} Holidays - {{report.calendarFebHolidays}}</p>
            <p>{{report.calendarFebOverlap}} overlapping - {{report.calendarFebTotal}} days total</p>
            <h2>March:</h2> <p>{{report.calendarMar}} Holidays - {{report.calendarMarHolidays}}</p>
            <p>{{report.calendarMarOverlap}} overlapping - {{report.calendarMarTotal}} days total</p>
            <h2>April:</h2> <p>{{report.calendarApr}} Holidays - {{report.calendarAprHolidays}}</p>
            <p>{{report.calendarAprOverlap}} overlapping - {{report.calendarAprTotal}} days total</p>
            <h2>May:</h2> <p>{{report.calendarMay}} Holidays - {{report.calendarMayHolidays}}</p>
            <p>{{report.calendarMayOverlap}} overlapping - {{report.calendarMayTotal}} days total</p>
            <h2>June:</h2> <p>{{report.calendarJun}} Holidays - {{report.calendarJunHolidays}}</p>
            <p>{{report.calendarJunOverlap}} overlapping - {{report.calendarJunTotal}} days total</p>
            <h2>July:</h2> <p>{{report.calendarJul}} Holidays - {{report.calendarJulHolidays}}</p>
            <p>{{report.calendarJulOverlap}} overlapping - {{report.calendarJulTotal}} days total</p>
            <h2>August:</h2> <p>{{report.calendarAug}} Holidays - {{report.calendarAugHolidays}}</p>
            <p>{{report.calendarAugOverlap}} overlapping - {{report.calendarAugTotal}} days total</p>
            <h2>September:</h2> <p>{{report.calendarSep}} Holidays - {{report.calendarSepHolidays}}</p>
            <p>{{report.calendarSepOverlap}} overlapping - {{report.calendarSepTotal}} days total</p>
            <h2>October:</h2> <p>{{report.calendarOct}} Holidays - {{report.calendarOctHolidays}}</p>
            <p>{{report.calendarOctOverlap}} overlapping - {{report.calendarOctTotal}} days total</p>
            <h2>November:</h2> <p>{{report.calendarNov}} Holidays - {{report.calendarNovHolidays}}</p>
            <p>{{report.calendarNovOverlap}} overlapping - {{report.calendarNovTotal}} days total</p>
            <h2>December:</h2> <p>{{report.calendarDec}} Holidays - {{report.calendarDecHolidays}}</p>
            <p>{{report.calendarDecOverlap}} overlapping - {{report.calendarDecTotal}} days total</p>
            <h2>Floating: {{report.calendarFloat}}</h2>
            <h2>Fixed: {{report.calendarFixed}}</h2><br>
            <h2>From {{report.todayClean}} to {{report.oneYearClean}}: {{report.yearTotal}} days</h2>
            <h2>January:</h2> <p>{{report.yearJan}} Holidays - {{report.yearJanHolidays}}</p>
            <p>{{report.yearJanOverlap}} overlapping - {{report.yearJanTotal}} days total</p>
            <h2>February:</h2> <p>{{report.yearFeb}} Holidays - {{report.yearFebHolidays}}</p>
            <p>{{report.yearFebOverlap}} overlapping - {{report.yearFebTotal}} days total</p>
            <h2>March:</h2> <p>{{report.yearMar}} Holidays - {{report.yearMarHolidays}}</p>
            <p>{{report.yearMarOverlap}} overlapping - {{report.yearMarTotal}} days total</p>
            <h2>April:</h2> <p>{{report.yearApr}} Holidays - {{report.yearAprHolidays}}</p>
            <p>{{report.yearAprOverlap}} overlapping - {{report.yearAprTotal}} days total</p>
            <h2>May:</h2> <p>{{report.yearMay}} Holidays - {{report.yearMayHolidays}}</p>
            <p>{{report.yearMayOverlap}} overlapping - {{report.yearMayTotal}} days total</p>
            <h2>June:</h2> <p>{{report.yearJun}} Holidays - {{report.yearJunHolidays}}</p>
            <p>{{report.yearJunOverlap}} overlapping - {{report.yearJunTotal}} days total</p>
            <h2>July:</h2> <p>{{report.yearJul}} Holidays - {{report.yearJulHolidays}}</p>
            <p>{{report.yearJulOverlap}} overlapping - {{report.yearJulTotal}} days total</p>
            <h2>August:</h2> <p>{{report.yearAug}} Holidays - {{report.yearAugHolidays}}</p>
            <p>{{report.yearAugOverlap}} overlapping - {{report.yearAugTotal}} days total</p>
            <h2>September:</h2> <p>{{report.yearSep}} Holidays - {{report.yearSepHolidays}}</p>
            <p>{{report.yearSepOverlap}} overlapping - {{report.yearSepTotal}} days total</p>
            <h2>October:</h2> <p>{{report.yearOct}} Holidays - {{report.yearOctHolidays}}</p>
            <p>{{report.yearOctOverlap}} overlapping - {{report.yearOctTotal}} days total</p>
            <h2>November:</h2> <p>{{report.yearNov}} Holidays - {{report.yearNovHolidays}}</p>
            <p>{{report.yearNovOverlap}} overlapping - {{report.yearNovTotal}} days total</p>
            <h2>December:</h2> <p>{{report.yearDec}} Holidays - {{report.yearDecHolidays}}</p>
            <p>{{report.yearDecOverlap}} overlapping - {{report.yearDecTotal}} days total</p>
            <h2>Floating: {{report.yearFloat}}</h2>
            <h2>Fixed: {{report.yearFixed}}</h2><br>

          </div>

        </main>

      </div>

    </div>
    <div id="userHolidayEditorDiv">
      <div id="userHolidayEditorBar">
        <a href="" class="btn" id="userHolidayEditorDoneButton" ng-click="$ctrl.userHolidayEditorDone()">done</a>
        <h1 id="holidayEditorTitle"></h1>
      </div>
      <form id="userHolidayEditorForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="userHolidayNameField">
            <input type="text" class="pure-input-1" id="userHolidayName">
          </div>
          <div id="userHolidayImageEditorField">
            <img id="userHolidayEditorPhoto">
            <p>Image URL:</p>
            <input type="text" class="pure-input-1" id="holidayImageURL">
            <a href="" class="btn" id="holidayImageLinkUpload">upload</a>
          </div>
          <div id="userHolidayImageUploadCentre">
            <input type="file" name="userHolidayPhotoFile" id="userHolidayPhotoFile" class="pure-input-1">
            <a href="" class="btn" id="userUploadHolidayPhotoConfirm">confirm</a>
            <a href="" class="btn" id="userUploadHolidayPhotoCancel">cancel</a>

          </div>
          <p>Color: </p>
          <div id="userHolidayColorPicker">
            <input type="color" class="pure-input-1" id="userHolidayColorSelector">

          </div>

          <p>Occurs annually:</p>
          <div id="userHolidayDateDiv">
            <div id="userHolidayAnnualCheckboxDiv">
              <input type="checkbox" id="userHolidayAnnuality" checked>

            </div>

            <p id="isFloat">Floating Holiday</p>
            <div id="userSelectHolidayDate">
              <select id="userHolidayDaySelect" class="pure-input-1"></select>
              <select id="userHolidayMonthSelect" class="pure-input-1"></select>

            </div>

          </div>
          <p>Holiday Related Art:</p>
          <div id="holidayOverrideCheckbox">
            <input type="checkbox" id="userHolidayHasArtContent">
          </div>
          <div id="userHolidayArtContent">
            <div id="userHolidayArtsEditor"></div>
            <div id="userHolidayDivHolderForAddButton">
              <button id="userAddHolidayArt">add new</button>
            </div>
            <div id="userHolidayArtAdditionDiv">
              <a href="" class="btn">done</a>
              <img>
              <input type="text" placeholder="imageURL">
              <a href="" class="btn">upload</a>
              <div id="holidayArtImageUploaderDiv">
                <input type="file">
                <a href="" class="btn">submit</a>
                <a href="" class="btn">cancel</a>
              </div>
              <input type="text" placeholder="artist">
              <input type="text" placeholder="title">
              <input type="text" placeholder="year">


            </div>


          </div>
          <p>Holiday Related Music:</p>
          <div id="userHolidayMusicOverrideCheckDiv">
            <input type="checkbox" id="userHolidayHasMusicContent">
          </div>
          <div id="userHolidayMusicContent">

            <div id="userHolidayMusicsEditor"></div>
            <div id="userHolidayMusicAddButtonDiv">
              <button id="userAddHolidayMusic">add new</button>
            </div>
            <div id="userHolidayMusicAddingForm">
              <p>Please paste bandcamp embed link here:</p>
              <input type="text" id="userHolidayBandcampSubmissionString">
              <p id="userHolidayMusicAddErrorMessage"></p>
              <a href="" class="btn" id="userHolidayMusicAddSubmit">submit</a>
              <a href="" class="btn" id="userHolidayMusicAddCancel">cancel</a>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
    <div id="userOccasionsEditingDiv">
      <div id="userOccasionsEditorBar">
        <a href="" class="btn" id="userOccasionsEditorDoneButton" ng-click="$ctrl.userOccasionsEditorDone()">done</a>
        <h1 id="occasionEditorTitle">Occasion</h1>
      </div>
      <form id="userOccasionsEditorForm" class="pure-form pure-form-stacked">
        <p>Occasion name:</p>
        <div id="userOccasionNameDiv">
          <input type="text" id="userOccasionsEditName" class="pure-input-1">
        </div>
        <p>Day of: </p>
        <div id="userOccasionDateDiv">
          <input type="date" id="userOccasionsDate" class="pure-input-1">
        </div>
        <p>Occurs Annually:</p>
        <div id="userOccasionAnnualCheckboxDiv">
          <input type="checkbox" id="userOccasionsAnnualState">
        </div>
      </form>

    </div>
    <div id="userBillsEditingDiv">
      <div id="userBillsEditorBar">
        <a href="" class="btn" id="userBillsEditorDoneButton" ng-click="$ctrl.userBillsEditorDone()">done</a>
        <h1 id="billsEditorTitle">Bill</h1>
      </div>
      <form id="userBillsEditorForm" class="pure-form pure-form-stacked">
        <p id="userBillName">Bill name:</p>
        <div id="billsOccasionNameDiv">
          <p>Pay To:</p>
          <div id="userPayToDiv">
            <input type="text" id="userBillsPayTo" class="pure-input-1">
          </div>
          <p>Address line 1:</p>
          <div id="userAddressLine1Div">
            <input type="text" id="userBillsAddressLine1" class="pure-input-1">
          </div>
          <p>Address line 2:</p>
          <div id="userAddressLine2Div">
            <input type="text" id="userBillsAddressLine2" class="pure-input-1">
          </div>
          <p>City:</p>
          <div id="userCityLineDiv">
            <input type="text" id="userBillsAddressCity" class="pure-input-1">
          </div>
          <p>State:</p>
          <div id="userStateLineDiv">
            <input type="text" id="userBillsAddressState" class="pure-input-1">
          </div>
          <p>Zip/Postal Code:</p>
          <div id="userZipLine">
            <input type="text" id="userBillsAddressZip" class="pure-input-1">
          </div>
          <p>Balance:</p>
          <div id="userBalanceLine">
            <input type="number" id="userBillsBalance" class="pure-input-1">
          </div>
          <p>Amount Due:</p>
          <div id="userAmountDueLine">
            <input type="number" id="userBillsAmountDue" class="pure-input-1">
          </div>
          <p>Date Due:</p>
          <div id="userBillDueDatDiv">
            <input type="date" id="userBillsDateDue" class="pure-input-1">
          </div>
          <p>Is Paid:</p>
          <div id="idPaidCheckboxDiv">
            <input type="checkbox" id="userBillIsPaid">
          </div>
          <div id="userPaymentInfosDiv">
            <p>Amount Paid:</p>
            <div id="userBillsPaidAmountDiv">
              <input type="number" id="userBillsAmountPaid" class="pure-input-1">
            </div>
            <p>Date Paid:</p>
            <div id="datePaidDiv">
              <input type="date" id="userBillsDatePaid" class="pure-input-1">
            </div>
          </div>
        </div>


      </form>

    </div>
    <div id="userTasksEditingDiv">
      <div id="userTasksEditorBar">
        <a href="" class="btn" id="userTasksEditorDoneButton" ng-click="$ctrl.userTasksEditorDone()">done</a>
        <h1 id="tasksEditorTitle">Task</h1>
      </div>
      <form id="userTasksEditorForm" class="pure-form pure-form-stacked">
        <div>
          <p>Task:</p>
          <div id="userTaskNameDiv">
            <input type="text" id="userTasknameInput" class="pure-input-1">
          </div>
          <p>Notes:</p>
          <div id="userTaskNotesDiv">
            <textarea type="textarea" rows="5" id="userTasknotesInput" class="pure-input-1"></textarea>
          </div>
          <p>Due:</p>
          <div id="userTaskDueDateDiv">
            <input type="date" id="userTaskDueDateInput" class="pure-input-1">
          </div>

          <p>Completed:</p>
          <div id="userTaskCompletedDiv">
            <input type="checkbox" id="userTaskCompleted">
          </div>
          <div id="userTaskCompletionDataDiv">
            <div id="userTaskCompletedDateDiv">
              <p>Completed On:</p>
              <div id="dateTaskCompletedDiv">
                <input type="date" id="userTaskCompletedDate" class="pure-input-1">
              </div>
            </div>
          </div>
        </div>


      </form>

    </div>

    <div id="userGoalsEditingDiv">
      <div id="userGoalsEditorBar">
        <a href="" class="btn" id="userGoalsEditorDoneButton" ng-click="$ctrl.userGoalsEditorDone()">done</a>
        <h1 id="goalsEditorTitle">Goal</h1>
      </div>
      <form id="userGoalsEditorForm" class="pure-form pure-form-stacked">
        <div>
          <p>Goal:</p>
          <div id="userGoalBlocktypeDiv">
            <select id="userGoalBlocktypeSelect" class="pure-input-1"></select>
          </div>
          <p>Weekly Goal(in hours):</p>
          <div id="userGoalsHoursDiv">
            <input type="number" id="userGoalsHours" min="0.0" max="168.0" step="0.5" class="pure-input-1">
          </div>

        </div>


      </form>

    </div>
  </div>

</div>

<footer>
  <div class="pure-g">
    <div id="footerCol1" class="pure-u-1-3">
      <h1>168h:</h1>
      <p>Make all the hours count.</p>
    </div>
    <div class="pure-u-1-3">
      <h3>&copy; 2017 HurdAudio</h3>
    </div>
    <div id="footerCol3" class="pure-u-1-3">
      <h2>Follow me on</h2>
      <a href="https://github.com/HurdAudio"><img src="../img/GitHub_Logo.png"></a>
    </div>
  </div>
</footer>
