<div class="pure-g">
  <div id="logo" class="pure-u-1-5">
    <img href="#" src="./img/onlinelogomaker-071717-1242-0242.png">
  </div>
  <div id="userProfileClock" class="pure-u-1-5">

    <p></p>
  </div>
  <div class="pure-u-2-5">
    <ul>
      <li><a href="" class="btn" ng-click="$ctrl.gotoMonthView()">Month</a></li>
      <li><a href="" class="btn" ng-click="$ctrl.gotoDayview()">Day</a></li>
      <li><a href="" class="btn" ng-click="$ctrl.gotoWeek()">Week</a></li>
      <li><a href="" class="btn">Year</a></li>
      <li><a href="" class="btn">Next</a></li>
      <li><a href="" class="btn" ng-click="$ctrl.logout()">logout</a></li>
    </ul>
  </div>
</div>



<div id="greetingDateStrip" class="pure-g">
  <div id="greetingStrip" class="pure-u-1-2">
    <p id="greetingsUser"></p>
    <p id="greetingsDate"></p>
  </div>
  <div id="adminMsg" class="pure-u-1-2">
    <h3>Messages from the Admins:</h3>
    <p>Welcome to 168h! We are all time travellers at present.</p>
  </div>
</div>

<div id="photoUploadFormDiv">

  <div id="photoUploaderBar">

    <h1>Photo Upload</h1>
  </div>
  <form id="photoUploadForm" enctype="multipart/form-data" class="pure-form pure-form-stacked">
    <fieldset>
      <input type="file" name="userPhoto" id="userPhotoInput" class="pure-input-1">
      <div id="photoUploaderButtonsField">
        <a href="" class="btn" id="photoSubmit">submit</a>
        <a href="" class="btn" id="photoCancel">cancel</a>
      </div>
    </fieldset>
  </form>
</div>

<div id="dashboard" class="pure-g">
  <div id="userProfilePortal" class="pure-u-1-3">
    <div id="profileZone">
      <div id="userPic">

        <a href="" id="userEditor" class="btn" ng-click="$ctrl.profileEditor()">edit profile</a>
      </div>
    </div>
    <div id="blocktypeZone">
      <div>
        <img src="../img/cube-2351878_1280.jpg">
        <a href="" id="blocktypeManager" class="btn" ng-click="$ctrl.blocktypeEditor()">block edit</a>
      </div>

    </div>
    <div id="holidayZone">
      <div>
        <img src="../img/lights-1088141_1920.jpg">
        <a href="" id="holidayManager" class="btn" ng-click="$ctrl.holidayManage()">holidays</a>
      </div>

    </div>
    <div id="occasionZone">
      <div>
        <img src="../img/eve-1071355_1920.jpg">
        <a href="" id="occasionManager" class="btn" ng-click="$ctrl.occasionManage()">occasions</a>
      </div>

    </div>
    <div id="billZone">
      <div>
        <img src="../img/pay-off-bills.jpg">
        <a href="" id="billsManager" class="btn">bills</a>
      </div>

    </div>

  </div>
  <div id="generalEditing" class="pure-u-1-3">
    <div id="userEditorDiv">
      <div id="userEditBar">
        <a href="" class="btn" id="userProfileDone" ng-click="$ctrl.closeUserEditor()">done</a>
        <h1>Profile Editor</h1>

      </div>
      <form id="userEditorForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="weekSubsEntry">
            <p>Name:</p>
            <input type="text" id="userNameInput" class="pure-input-1">
            <a href="" class="btn" id="updateUserName">submit</a>
          </div>
          <br><br>

        </fieldset>
        <div id="userOptionButtons">
          <a href="" class="btn" id="changeProfilePhoto" ng-click="$ctrl.userPhotoEditor()">photo</a>
          <a href="" class="btn" id="changePassword">password</a>
          <a href="" class="btn" id="changeEmail">email</a>
          <a href="" class="btn" id="changeFriends">friends</a>
        </div>
        <a href="#" id="adminAccess"><p>admin</p></a>
        <a href="#" id="deleteAccount"><p>delete account</p></a>



      </form>
    </div>
    <div id="blocktypeEditDiv">
      <div id="blockEditBar">
        <a href="" class="btn" id="blockEditDone" ng-click="$ctrl.closeBlocktypeEditor()">done</a>
        <h1>Blocktype Editor</h1>

      </div>
      <form id="blockEditorForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="existingBlocks">
            <a href="" class="btn" id="addBlocktype" ng-click="$ctrl.createNewBlocktype()">new block</a>
            <a href="" class="btn" id="blockReporter" ng-click="$ctrl.blocktypeReport()">report</a>
            <main ng-repeat="block in $ctrl.userblocktypes | orderBy : $ctrl.sortBy">
              <p>{{block.type}}</p><br>
              <div class="indiBlockEdit">
                <a href="" class="btn" ng-click="$ctrl.editBlock(block.id)">edit</a>
              <a href="" class="btn" ng-click="$ctrl.deleteBlock(block.id)">delete</a>
            </div>
            </main>

          </div>
        </fieldset>





      </form>

    </div>
    <div id="holidayManagementDiv">
      <div id="holidayManagerBar">
        <a href="" class="btn" id="holidayManagerDone" ng-click="$ctrl.closeHolidayManager()">done</a>
        <h1>Holiday Manager</h1>

      </div>
      <form id="holidayManagerForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="holidayManagement">
            <a href="" class="btn" id="addHoliday" ng-click="$ctrl.addNewHoliday()">new</a>
            <a href="" class="btn" id="holidayReporter" ng-click="$ctrl.holidayReport()">report</a>
            <main ng-repeat="holiday in $ctrl.userholidays | orderBy : $ctrl.sortBy">
              <img src="{{holiday.picture}}">
              <p>{{holiday.name}}</p>
              <p>{{holiday.day}}</p>
              <br>
              <div class="holidayEdit">
                <a href="" class="btn" ng-click="$ctrl.editHoliday(holiday.id)">edit</a>
              <a href="" class="btn" ng-click="$ctrl.deleteHoliday(holiday.id)">delete</a>
              <br><br><br>

              </div>

            </main>
          </div>

        </fieldset>


      </form>

    </div>
    <div id="occasionsManagementDiv">
      <div id="occasionsManagerBar">
        <a href="" class="btn" id="occasionsManagerDone" ng-click="$ctrl.closeOccasionsManager()">done</a>
        <h1>Occasions Manager</h1>

      </div>
      <form id="occasionsManagerForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="occasionsManagement">
            <a href="" class="btn" id="addOccasion" ng-click="$ctrl.addNewOccasion()">new</a>
            <a href="" class="btn" id="occasionReporter" ng-click="$ctrl.occasionReport()">report</a>
            <main ng-repeat="occasion in $ctrl.userOccasions | orderBy : $ctrl.sortBy">
              <p>{{occasion.name}}</p>
              <p>{{occasion.dayOf}}</p>
              <p>Occurs Annually: {{occasion.annualState}}</p>
              <br>
              <div class="occasionEdit">
                <a href="" class="btn" ng-click="$ctrl.editOccaision(occasion.id)">edit</a>
              <a href="" class="btn" ng-click="$ctrl.deleteOccasion(occasion.id)">delete</a>

              </div>

            </main>
          </div>

        </fieldset>


      </form>

    </div>
  </div>
  <div id="secondaryEditing" class="pure-u-1-3">
    <div id="userProfilePhotoDiv">
      <div id="userProfilePhotoBar">
        <a href="" class="btn" id="userProfilePhotoDone" ng-click="$ctrl.userPhotoEditDone()">done</a>
        <h1>User Profile Photo</h1>
      </div>
      <form id="userProfilePhotoForm" class="pure-form pure-form-stacked">
        <fieldset>
          <img id="photoReference" src="https://mediasia.iafor.org/wp-content/uploads/sites/30/2017/02/IAFOR-Blank-Avatar-Image.jpg">
          <p id="onlineurl">Online URL:</p>
          <input type="text" id="newPhotoURL" class="pure-input-1">
          <div id="verifyOrSubmit">
            <a href="" class="btn" id="verifyPhotoURL">verify</a>
            <a href="" class="btn" id="updatePhotoURL">submit</a>
          </div>
          <p id="or">or</p>
          <a href="" class="btn" id="uploadPhoto" ng-click="$ctrl.photUploader()">upload</a>
        </fieldset>
        <div id="userProfilePhotoButtons">
        </div>
      </form>
    </div>
    <div id="userExistingBlockEditorDiv">
      <div id="userExistingBlocksEditorBar">
        <a href="" class="btn" id="userExistingBlocksEditorDone" ng-click="$ctrl.userExistingBlocksEditorDone()">done</a>
        <h1 id="existingBlockEditorTitle"></h1>
      </div>
      <form id="existingBlocksEditorForm" class="pure-form pure-form-stacked">
        <fieldset>
          <p>Blocktype Name:</p>
          <div id="existingBlocktypeEditorTypeDiv">
            <input type="text" id="existingBlocktypeEditorType" class="pure-input-1">
          </div>
          <p>Color:</p>
          <div id="existingBlocktypeColorDiv">
            <input type="color" id="existingBlocktypeEditorColor" class="pure-input-1">
          </div>
          <div id="existingBlocksSubtypesAndSubSubTypes">
            <p>Subtypes:</p>
            <div id="existingBlocktypesSubCheckDiv">
              <input type="checkbox" id="existingBlocktypeCheck" class="pure-input-1" checked>
            </div>
            <br>
            <div id="existingBlockSubs">
              <div id="existingAddNewDivAnchor">
                <button id="existingBlockAddNewSubtype">add new</button>
              </div>
              <div id="existingSubFields">

                <button class="removal">DELETE</button>
                <input type="text" class="pure-input-1">

              </div>
              <p>Additional Subtypes:</p>
              <div id="existingBlockSubSubtypesCheckboxAnchorDiv">
                <input type="checkbox" id="existingBlockSubSubtypes" class="pure-input-1" unchecked>

              </div>

              <div id="existingBlockSubSubs">
                <div id="existingBlockAddNewSubtypeAnchorDiv">
                  <button id="existingBlockAddNewSubSubtype">add new</button>
                </div>
                <div id="existingSubSubFields">

                  <button class="removal">DELETE</button>
                  <input type="text" class="pure-input-1">

                </div>
              </div>

            </div>
          </div>
        </fieldset>

      </form>

    </div>
    <div id="deleteBlocktypeConfirm">
      <div id="deleteBlocktypeConfirmBar">
        <h1 id="deleteBlocktypeTitle">Delete?</h1>

      </div>
      <div id="deleteBlocktypeConfirmField">
        <p id="deleteBlocktypeQuery"></p>
        <p id="deleteBlocktypeTotalBlocks"></p>
        <p id="deleteBlocktypePastBlocks"></p>
        <p id="deleteBlocktypeTodayBlocks"></p>
        <p id="deleteBlocktypeFutureBlocks"></p>
        <div id="deleteBlocktypeButtons">
          <a href="" class="btn" id="deleteBlocktypeCancelConfirm">confirm</a>
          <a href="" class="btn" id="deleteBlocktypeCancelButton">cancel</a>
        </div>
        <br><br><br>
        <p></p>

      </div>

    </div>
    <div id="reportForBlocktypes">
      <div id="blocktypeReportBar">
        <a href="" class="btn" id="blocktypeReportDone" ng-click="$ctrl.blocktypeReportDone()">done</a>
        <h1>Blocktype Report</h1>
      </div>
      <div id="blocktypeReportBody">
        <main ng-repeat="report in $ctrl.blockreporter | orderBy : $ctrl.sortBy">
          <div class="reporter">
            <h2>Block: {{report.type}}</h2>
            <p>Timeblocks: {{report.totalTimeblocks}}</p>
            <p>Past Blocks: {{report.pastBlockTotal}}</p>
            <p>Today: {{report.todayBlockTotal}}</p>
            <p>Future Blocks: {{report.futureBlockTotal}}</p>
            <p>Total Hours: {{report.blocktypeHours}}</p>
            <p>Past Hours: {{report.blocktypePastHours}}</p>
            <p>Hours Today: {{report.blocktypeTodayHours}}</p>
            <p>Future Hours: {{report.blocktypeFutureHours}}</p>
            <p>Projected Hours for current Calendar week: {{report.blocktypeProjectedCalendarWeekHours}}</p>
            <p>Projected Hours for Next Seven Days: {{report.blocktypeProjectedWeekHours}}</p>
          </div>

        </main>

      </div>

    </div>
    <div id="userHolidayEditorDiv">
      <div id="userHolidayEditorBar">
        <a href="" class="btn" id="userHolidayEditorDoneButton" ng-click="$ctrl.userHolidayEditorDone()">done</a>
        <h1 id="holidayEditorTitle"></h1>
      </div>
      <form id="userHolidayEditorForm" class="pure-form pure-form-stacked">
        <fieldset>
          <div id="userHolidayNameField">
            <input type="text" class="pure-input-1" id="userHolidayName">
          </div>
          <div id="userHolidayImageEditorField">
            <img id="userHolidayEditorPhoto">
            <p>Image URL:</p>
            <input type="text" class="pure-input-1" id="holidayImageURL">
            <a href="" class="btn" id="holidayImageLinkUpload">upload</a>
          </div>
          <div id="userHolidayImageUploadCentre">
            <input type="file" name="userHolidayPhotoFile" id="userHolidayPhotoFile" class="pure-input-1">
            <a href="" class="btn" id="userUploadHolidayPhotoConfirm">confirm</a>
            <a href="" class="btn" id="userUploadHolidayPhotoCancel">cancel</a>

          </div>
          <p>Color: </p>
          <div id="userHolidayColorPicker">
            <input type="color" class="pure-input-1" id="userHolidayColorSelector">

          </div>

          <p>Occurs annually:</p>
          <div id="userHolidayDateDiv">
            <div id="userHolidayAnnualCheckboxDiv">
              <input type="checkbox" id="userHolidayAnnuality" checked>

            </div>

            <p id="isFloat">Floating Holiday</p>
            <div id="userSelectHolidayDate">
              <select id="userHolidayDaySelect" class="pure-input-1"></select>
              <select id="userHolidayMonthSelect" class="pure-input-1"></select>

            </div>

          </div>
          <p>Holiday Related Art:</p>
          <div id="holidayOverrideCheckbox">
            <input type="checkbox" id="userHolidayHasArtContent">
          </div>
          <div id="userHolidayArtContent">
            <div id="userHolidayArtsEditor"></div>
            <div id="userHolidayDivHolderForAddButton">
              <button id="userAddHolidayArt">add new</button>
            </div>
            <div id="userHolidayArtAdditionDiv">
              <a href="" class="btn">done</a>
              <img>
              <input type="text" placeholder="imageURL">
              <a href="" class="btn">upload</a>
              <div id="holidayArtImageUploaderDiv">
                <input type="file">
                <a href="" class="btn">submit</a>
                <a href="" class="btn">cancel</a>
              </div>
              <input type="text" placeholder="artist">
              <input type="text" placeholder="title">
              <input type="text" placeholder="year">


            </div>


          </div>
          <p>Holiday Related Music:</p>
          <div id="userHolidayMusicOverrideCheckDiv">
            <input type="checkbox" id="userHolidayHasMusicContent">
          </div>
          <div id="userHolidayMusicContent">

            <div id="userHolidayMusicsEditor"></div>
            <div id="userHolidayMusicAddButtonDiv">
              <button id="userAddHolidayMusic">add new</button>
            </div>
            <div id="userHolidayMusicAddingForm">
              <p>Please paste bandcamp embed link here:</p>
              <input type="text" id="userHolidayBandcampSubmissionString">
              <p id="userHolidayMusicAddErrorMessage"></p>
              <a href="" class="btn" id="userHolidayMusicAddSubmit">submit</a>
              <a href="" class="btn" id="userHolidayMusicAddCancel">cancel</a>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>

</div>

<footer>
  <div class="pure-g">
    <div id="footerCol1" class="pure-u-1-3">
      <h1>168h:</h1>
      <p>Make all the hours count.</p>
    </div>
    <div class="pure-u-1-3">
      <h3>&copy; 2017 HurdAudio</h3>
    </div>
    <div id="footerCol3" class="pure-u-1-3">
      <h2>Follow me on</h2>
      <a href="https://github.com/HurdAudio"><img src="../img/GitHub_Logo.png"></a>
    </div>
  </div>
</footer>
